# ===== Godot =====
.godot/
/android/

# Godot exported builds
/build/
/Exports/

# ===== .NET / C# =====
*.csproj.user
*.sln.DotSettings.user
bin/
obj/

# ===== IDE / editory =====
.vs/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstats
*.user

# ===== OS =====
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

*.csproj.old*